@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <div class="container">
        <h1>Bitcoin Beach</h1>
        <p class="lead">An agent booking platform for beautiful vacation homes on the coast of El Salvador.</p>
        <p><a href="https://goo.gl/maps/ZLp7CLh6bVisAYdk9" class="btn btn-primary btn-lg">View Map &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Book New Reservations</h2>
        <p>Book new reservations for clients.</p>
        <p><a class="btn btn-primary btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301865">Book &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Landlord Outreach</h2>
        <p>Reach out to current and potential landlords.</p>
        <p><a class="btn btn-primary btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301866">View &raquo;</a></p>
    </div>
</div>